.pt-80 {
    padding-top: 80px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-70 {
    padding-top: 70px;
}

.pb-120 {
    padding-bottom: 120px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.pt-110 {
    padding-top: 110px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pt-120 {
    padding-top: 120px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-80 {
    padding-bottom: 80px;
}